.container {
    width: 25%;
    margin: auto;
    margin-top: 100px;
}

.btn {
    width: 60px;
    display: block;
    margin: auto;
    margin-left: 0px;
    margin-top: 30px;
}

section {
    margin-bottom: 200px;
}

.btn {
    display: inline-block;
    margin: 5px;
}