    ul li {
        display: inline;
        width: 200px;
        padding: 20px;
    }
    
    a {
        display: inline-block;
        text-decoration: none;
        color: indigo;
        background-color: bisque;
        padding: 10px;
        margin: 10px;
    }