.container {
    width: 100%;
    height: 500px;
}

.box {
    width: 327px;
    margin: auto;
    margin-top: 100px;
}

.btn {
    width: 70px;
    display: block;
    margin: auto;
    margin-left: 20px;
}

.main {
    width: 300px;
    margin: auto;
}
select ,input{
    padding: 5px;
    border: none;
    margin-bottom: 20px;
}